WebServiceBicipalma/BicipalmaWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:emt="https://api.mobipalma.mobi/docs/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BicipalmaWSDL" targetNamespace="https://api.mobipalma.mobi/docs/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.mobipalma.mobi/docs/">
      <xsd:element name="estadoEstacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="estadoEstacionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="estadoEstacionRequest">
    <wsdl:part element="emt:estadoEstacion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="estadoEstacionResponse">
    <wsdl:part element="emt:estadoEstacionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BicipalmaWSDL">
    <wsdl:operation name="estadoEstacion">
      <wsdl:input message="emt:estadoEstacionRequest"/>
      <wsdl:output message="emt:estadoEstacionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BicipalmaWSDLSOAP" type="emt:BicipalmaWSDL">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="estadoEstacion">
      <soap:operation soapAction="https://api.mobipalma.mobi/docs/estadoEstacion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BicipalmaWSDL">
    <wsdl:port binding="emt:BicipalmaWSDLSOAP" name="BicipalmaWSDLSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
